<div class="container">
    <div class="col-sm-8 col-md-8" id="game-area">
        <h3>The Game</h3>
        <h5>The question is: </h5>
        <div class="question-text" ng-bind="game.info.currentQuestion"></div>
        <form>
            <div class="form-group">
                <label for="question-answer">Answer</label>
                <input placeholder="Enter your answer" ng-model="game.currentAnswer" id="question-answer" type="text" class="form-control input-lg">
            </div>
            <div class="text-center" ng-disable="game.processingAnswer">
                <button type="submit" class="btn btn-primary btn-lg" ng-click="game.submitAnswer()">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4 col-md-4" id="player-list">
        <h4>Players</h4>
        <ul class="list-unstyled">
            <li ng-repeat="player in game.info.players | filter:{active:true}">({{player.id}})</li>
        </ul>
    </div>
</div>